################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WildForkFoods.Sws.Mobile/bin/Debug
/.vs
/WildForkFoods.Sws.Mobile/obj
